body {
    line-height: 1.4;
    font-family: system-ui;
  }

  /* li::before {
    background-color: rgb(144, 238, 144);
  } */

  li { color: rgb(144, 238, 144) } 
  li span {
    color: black;
  }
  
  p::first-line {
    color: rgb(0, 0, 255);
  }