@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

/* Nav Section */
body {
    margin: 0;
    background-color: rgb(25, 20, 20);
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 25px;
}

nav img {
    height: 60px;
    width: 60px;
}

ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

li a:hover {
    color: rgb(30, 215, 96);
}