*{
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 15px 30px;
    font-size: 17px;
    padding: 5px;
}

/* Write your code here */
.container{
    padding: 15px;
    border-radius: 4px;
    background-color: rgb(242, 242, 242);
}

h1 {
    text-align: center;
}

input[type="text"], input[type="email"], input[type="number"], input[type="password"], input[type="date"], textarea, select{
    width: 100%; 
    padding: 12px; 
    margin-top: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

fieldset {
    background-color: rgb(255, 255, 255); 
    padding: 15px;
    border-color: rgb(204, 204, 204);
}

input[type="submit"] {
    background-color: rgb(137, 211, 166);
    padding: 10px;
    margin-left: 10%;
    border: none;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
    cursor: pointer;
}

